/*
CSS RESETS
*/

/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* Respect user font settings */
html {
  font-size: 100%;
}

/* Make images responsive */
img {
  max-width: 100%;
  display: block;
}

/* /////// color varibles ////// */
:root {
    --bg: #ffffff;
    --font: #000000;
}

body.dark {
    --bg: #000000;
    --font: #2c8900;
}

/* /////// gen. css ////// */
body {
    color: var(--font);
    background-color:var(--bg);
}

header {
    padding: 5rem;
}

main {
    max-width: 60rem;
    margin: 0 auto;
}

img {
    width: 40rem;
}

.hidden {
    display: none;
}

#img1 {
    position: absolute;
    top: 3rem;
    right: 3rem;
}
#img2 {
    position: absolute;
    top: 6rem;
    left: 13rem;
}
#img3 {
    position: absolute;
    bottom: 5rem;
    right: 2rem;
}