/* ====== color palette ======  */
:root {

    --bg-color-1: #333232;
    --bg-color-2: #6b6868;
    --font: #ffffff;
    --accent-1: #9c9990;
    --accent-2: #333232;
    --dark: #333232;
}

/* ====== css resets ====== */
/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* make images resonsive */
img {
    display: block;
    max-width: 100%;
}

/* ====== respect user font size preferences ====== */

html {
    font-size: 100%;
}


/* ===== general css ====== */
body {
    background-color: var(--bg-color-1);
    color: var(--font);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family:Arial, Helvetica, sans-serif
}

header {
    padding: 5rem 2rem;
}

header h1 {
   text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 10px 8px 9px rgba(156,153,144,0.27);
}

nav a {
    text-decoration: none;
    color: var(--font);
    margin: 0 1rem;
    transition: all .5s ease;
}

nav a:hover {
    color: var(--accent-1);
}


.about-section,
.portfolio-section,
.contact-section {
    max-width: 60rem;
    margin: 5rem auto;
}

.about-section h2,
.portfolio-section h2,
.contact-section h2 {
    margin:2rem;

}

.portfolio-item {
    padding: 1rem;
    background-color: var(--accent-1);
    color: var(--bg-color-1);
}


footer {
    padding: 1rem 2rem;
}

footer img {
    display: inline ;
    max-width: 2rem;
    margin: 0 .5rem;

}
/* ============ flex styling ==========  */

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: stretch;
}

.flex-item-grid {
    flex: 1 0 15rem;
    padding:1rem;
}