/* css resets */
* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences  */
html {
    font-size: 100%;
}


body {
    background-color: #c2c1c0;
    font-family: 'Helvetica';
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #333232;
}

header {
    padding: 6rem;
    margin-bottom: 0.5rem;
    background-color: #9c9990;
    color: #333232;
    border-bottom: #333232 3px solid;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    text-decoration-style: dotted;
    color: #2f2f2f;
    display: inline-block;
    margin: 0 1rem;

}

main {
    max-width: 60rem;
    margin: 2rem auto;
}

.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    padding: 2rem 0;
}

.portfolio-item {
    margin-bottom: 1rem;
    background-color: #ffffff;
    padding: 4rem;
    text-align: justify;
    border-radius: .5rem;
    box-shadow: .10rem .10rem .5rem #333232;
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.portfolio-section {
    margin-bottom: 5rem;
    border-radius: 0.5rem;
    

}

.about-section {
    background-color: #ffffff;
    border-radius: 0.5rem;
}

footer {
    background-color: #2f2f2f;
    color: #c2c1c0;
    padding: 1rem;
    text-align: end;
}
footer p {
    font-size: 1.2rem;
}
.contact-section {
    background-color: #ffffff;
}