
.title{
    font-family: 'Courier New', Courier, monospace;
}

.square {
    background-color: orange;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;
}

.square:hover{
    background-color: greenyellow;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;

}

.button {
background-color: green;
color:white;
padding:15px;
margin: 50px auto;
border-radius: 10px;
text-decoration: none;
display: inline-block;
transition: all .5s;
}

.button:hover {
    background-color: greenyellow;
    color: black;
    transform: scale(1.5);
}